<p>
	<h4>You are looking to throw away - </h4>
	<%= @waste_query %>
</p>

<p>
	<strong>This is a type of - </strong>
	<%= @type_of_waste %>
	<%= image_tag(@waste_logo, style: "height: 70px; width: 70px") %>
</p>

<p>
	<%=  link_to 'Know your waste pick up schedule', controller: "schedule", action: "show" %>
</p>