<!DOCTYPE html>
<footer id="footer_id" class="navbar navbar-bottom footer">
  	<div class="container">
    		<small>
      			&copy; 2016
      			<%= link_to "Wastebusters", "/" %>
    		</small>
	    	<nav>
		    	<ul>
		      		<li><%= link_to "About",   about_path %></li>
		      		<!-- <li><%= link_to "Contact", contact_path %></li> -->
		    	</ul>
	  	</nav>
	</div>
</footer>