<!DOCTYPE html>
<p class="schedulelink">
	<%=  link_to image_tag("agenda.png", class: 'schedule-image', title: "Show Waste Pickup Schedule"), {controller: "schedule", action: "show"}, {class: "btn btn-green"} %>
</p>