<!DOCTYPE html>
<div class= "home-search-bar">
	<%= form_tag({controller: "waste", action: "search", method: "post"}, {class: "queryform"}) do %>
	  	<input id="waste_query" name="waste_query" type="text" class ="querytextbox" placeholder="What do you want to throw away?" />
	  	<%= image_submit_tag( "search.png",class: "btn btn-green") %>
	<% end %>
</div>