<!DOCTYPE html>
<%= render 'shared/header' %>
<div>
	<%= form_tag({controller: "waste", action: "show", method: "post"}, {class: "queryform"}) do %>
	  	<input id="waste_query" name="waste_query" type="text" class ="querytextbox" placeholder="What do you want to throw away?" />
	  	<%= submit_tag("Search", class: "btn btn-default btn-success") %>
	<% end %>
</div>
<%= render 'shared/schedule' %>