<!DOCTYPE html>
<span class="h1-span">
	What's in your dustbin?
</span>
<br>
<span class="h2-span">
	We help you manage your waste
</span>

<%= form_tag({controller: "waste", action: "show", method: "post"}, {class: "queryform"}) do %>
  	<input id="waste_query" name="waste_query" type="text" class ="querytextbox" placeholder="What do you want to throw away?" />
  	<%= submit_tag("Search", class: "btn btn-xs btn-success") %>
<% end %>

<p class="schedulelink">
	<%=  link_to "My waste pick up schedule", {controller: "schedule", action: "show"}, {class: "schedulelinktext"} %>
</p>