html,body{
    height: 100%
}

body {
  padding-top: 40px;
}

section {
  overflow: auto;
}

.navbar-header {
  max-height: 20px;
}

.logo-image {
  height: 35px;
  width: 35px;
  margin-top: 8px;
  margin-left: 5px;
}

.h1-span {
  display: inline-block;
  margin-top: 50px;
  color: #008000;
  font-weight: bold;
  font-size: 50px;
  text-shadow: 1px 1px #00CED1;
}

.h2-span {
  display: inline-block;
  color: #008000;
  font-size: 30px;
  text-shadow: 1px 1px #00CED1;
}

.center {
  text-align: center;
}

// .img-responsive2 {
//   display: inline-block;
//   max-width: 20%;
//   height: auto;
// }

#main-container {
  background: url('background_pune_agakhan.png');
  background-size: 100% 100%;
  height: 575px;
}

#static-container {
  background: url('howto.png');
  background-size: 100% 100%;
  height: 450px;
}

.queryform {
  margin-top: 100px;
}

.querytextbox {
  width: 400px;
  height: 35px;
  font-size: 20px;
  text-align: center;
}

.schedulelink {
  margin-top: 90px;
}

.schedulelinktext{
  color: #000080;
  font-size: 30px;
}

.yourwaste {
  margin-top: 50px;
  font-size: 30px;
  background: rgba(128, 128, 128, .5);
  width: 750px;
  padding-bottom: 5px;
}

.typesofwaste-thread {
  text-align: center;
  font-weight: bold;
  font-size: 1.5em;
  background-color: rgba(128, 128, 128, .7);
}

.typesofwaste-tbody {
  font-size: 1.5em;
  font-weight: bold;
  color: #8B0000;
  // text-shadow: 1px 1px #000000;
  background-color: rgba(128, 128, 128, .7);
}

.typesofwaste-tbody-description {
  font-size: 0.75em;
  color: #000000;
  text-shadow: none;
  font-weight: normal;
}

.typesofwaste-dry {
  color: #0000CD;
  text-shadow: 0.5px 0.5px #000000;
}

.typesofwaste-wet {
  color: #DAA520;
  text-shadow: 0.5px 0.5px #000000;
}

.typesofwaste-garden {
  color: #008000;
  text-shadow: 0.5px 0.5px #000000;
}

.typesofwaste-e {
  color: #FF8C00;
  text-shadow: 1px 1px #000000;
}

.typesofwaste-hazardous {
  color: #FF0000;
  text-shadow: 1px 1px #000000;
}


/* footer */

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #f5f5f5;
}

footer small {
  float: left;
  padding-top: 16px;
  font-size: 1em;
}

footer ul {
  float: right;
  list-style: none;
  padding-top: 16px;
  font-size: 1em;
}

footer ul li {
  float: left;
  margin-left: 15px;
}