html,body{
    height: 100%
}

body {
  padding-top: 40px;  
}

section {
  overflow: auto;
}

#site-navbar {
  max-height: 20px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 17px;
}

.logo-image {
  height: 35px;
  width: 35px;
  margin-top: 8px;
  margin-left: 5px;
  background-color: white
}

.headers {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.h1-span {
  display: inline-block;
  margin-top: 20px;
  color: #05750A;
  font-weight: bold;
  font-size: 50px;
  text-shadow: none;
}

.h2-span {
  display: inline-block;
  color: #05750A;
  font-size: 30px;

}

.center {
  text-align: center;
}

// .img-responsive2 {
//   display: inline-block;
//   max-width: 20%;
//   height: auto;
// }

.small-background {
  background: url('background_400.png');
  background-size: 100% 100%;
  height: 400px;
}
.big-background {
  background: url('background_700.png');
  background-size: 100% 100%;
  height: 700px;
}

/*#main-container {
  background: url('background_400.png');
  background-size: 100% 100%;
  height: 400px;
}*/

#static-container {
  background: url('footer_final.png');
  background-size: 100% 100%;
  height: 275px;
}

.queryform {
  margin-top: 60px;
  margin-left: 15px;
  margin-right: 15px;
  padding: 5px;
}

.querytextbox {
  width: 400px;
  height: 35px;
  font-size: 20px;
  text-align: center;
  vertical-align: middle;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.schedulelink {
  padding-top: 30px;
  padding-bottom: 50px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.schedulelinktext{
  color: #000080;
  font-size: 30px;
}

.yourwaste {
  margin-top: 30px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 25px;
  background: rgba(128, 128, 128, .7);
  width: 900px;
  padding-bottom: 5px;
  color: #000000;
}

.yourwaste-description-text {
  color: #000000;
  font-weight: normal;
  font-size: 0.7em;
}

.typesofwaste-thread {
  text-align: center;
  font-weight: bold;
  font-size: 1.5em;
  background-color: rgba(128, 128, 128, .7);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.typesofwaste-tbody {
  font-size: 1.5em;
  font-weight: bold;
  color: #8B0000;
  background-color: rgba(128, 128, 128, .7);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.typesofwaste-tbody-description {
  font-size: 0.75em;
  color: #000000;
  text-shadow: none;
  font-weight: normal;
}

.typesofwaste-dry {
  color: #0000CD;
  text-shadow: none;
}

.typesofwaste-wet {
  color: #DAA520;
  text-shadow: none;
}

.typesofwaste-garden {
  color: #008000;
  text-shadow: none;
}

.typesofwaste-e {
  color: #FF8C00;
  text-shadow: none;
}

.typesofwaste-hazardous {
  color: #FF0000;
  text-shadow: none;
}

.schedule-header {
  display: inline-block;
  margin-top: 20px;
  color: #05750A;
  font-weight: bold;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 30px;
  text-shadow: none;
}

.schedule-legend{
  margin-top: 20px;
}

.schedule-calendar {
  margin-top: 20px;
}

.info-type-of-waste {
  background-color: rgba(128, 128, 128, .7);
  font-weight: bold;
  color: #000000;
}

.about-content {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: rgba(128, 128, 128, .7);
  color: #000000;
  width: 1000px;
}

.about-elevator-pitch {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
  color: #000000;
  padding-top: 20px;
  font-weight: bold;
  font-size: 20px;
}

.about-text {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: left;
  text-align: justify;
  text-indent: 20px;
  color: #000000;
  margin-left: 15px;
  margin-right: 15px;
  font-size: 17px;
  padding-bottom: 10px;
}

.btn-green {
  background-color: #05750A;
  border-color: #05750A;
  color: whitesmoke;
}
.schedule-image {
  width: 60px;
  height: 60px;
}

.home-search-bar {
    background-color: rgba(128,128,128,.7);
    border-radius: 5px;
    width: 500px;
}
/* footer */

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #f5f5f5;
}
#footer_id{
  position: absolute;
}

footer small {
  float: left;
  padding-top: 16px;
  font-size: 1em;
}

footer ul {
  float: right;
  list-style: none;
  padding-top: 16px;
  font-size: 1em;
}

footer ul li {
  float: left;
  margin-left: 15px;
}